@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --fz-xl: 20px;
    --lightest-slate: #ccd6f6;
    --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --fz-md: 16px;
    --fz-xxs: 12px;
    --fz-lg: 18px;
    --yellow: #ffc62b;
}

body {
    background: #0b1930;
    color: #818ea8;
    font-family: Calibre, sans-serif;
    font-size: 16px;
}

.font-mon {
    font-family: 'Courier New', Courier, monospace, Montserrat;
}

.font-cal {
    font-family: Calibre, Courier, monospace, Montserrat;
}

.bg-main {
    background: #0b1930;
}

.font-head {
    font-family: var(--font-mono);
}

.bg-prim {
    background-color: #112240;
}

.shadow-p {
    box-shadow: rgb(2 12 27 / 70%) 0px 5px 20px 3px;
}

.bg-sec {
    background: #ffc62b;
}

.hover\:bg-sec:hover {
    background: #ffc62b;
}

.border-sec {
    border-color: #ffc62b;
}

.hover\:border-sec:hover {
    border-color: #e1ae22;
}

.border-alt {
    border-color: #818ea8;
}

.text-sec,
.hover\:text-sec:hover {
    color: #ffc62b;
}

.text-v {
    writing-mode: vertical-rl;
}

.text-space {
    letter-spacing: 1px;
}

.sm-text {
    font-size: 13px;
}

.xs-text {
    font-size: 11px;
}

.text-head {
    color: #ccd6f6;
}

.no-select {
    user-select: none;
}

.jt-p {
    padding-top: 5px;
}

.archive th,
.archive td {
    padding: 5px;
    text-align: left;
}

.archive tbody tr:hover {
    background: #112240;
}

.archive td.year {
    padding-right: 10px;
    font-family: var(--font-mono);
}

.overline {
    color: var(--yellow);
    font-family: var(--font-mono);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.archive td.company {
    font-size: var(--fz-lg);
    white-space: nowrap;
}

.archive td.title {
    padding-top: 10px;
    padding-right: 15px;
    color: var(--lightest-slate);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
}

.archive td.tech {
    font-size: var(--fz-xxs);
    font-family: var(--font-mono);
    line-height: 1.5;
}

.archive td.links {
    min-width: 100px;
}

.bb-m {
    margin-bottom: -1.8px;
}

@media (min-width: 768px) {
    .archive th,
    .archive td {
        padding: 10px;
    }
    .overline {
        font-size: var(--fz-md);
    }
    .archive td.year {
        padding-right: 20px;
    }
    body {
        font-size: 18px;
    }
    .md\:title-text {
        font-size: 88px;
    }
    .md\:sub-text {
        font-size: 70px;
    }
    .md\:bg-prim {
        background-color: #112240;
    }
    .md:\shadow-p {
        box-shadow: rgb(2 12 27 / 70%) 0px 5px 20px 3px;
    }
    .md\:sm-text {
        font-size: 13px;
    }
    .archive td.title {
        padding-top: 15px;
        padding-right: 20px;
        font-size: var(--fz-xl);
    }
    .lb-m {
        margin-left: -1.8px;
    }
}

.navbar {
    transition: 0.6s;
}

div.DraftEditor-root {
    background-color: transparent;
    width: 100%;
    margin: auto;
}

.prose {
    min-width: 100%;
}

.prose {
    color: #818ea8;
    font-family: Calibre, sans-serif;
    font-size: 18px;
}

.ql-container {
    font-family: Calibre, sans-serif !important;
    font-size: 18px !important;
}

.ql-editor.ql-blank::before {
    color: #818ea8 !important;
    content: attr(data-placeholder);
    font-style: normal !important;
    font-family: Calibre, sans-serif !important;
    font-size: 18px !important;
}

.placeholder-alt::placeholder {
    color: #818ea8c0;
}

.prose>p,
.prose>div {
    margin: 0;
    padding: 0;
}

@keyframes ldio-vm5up11teb9-1 {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-45deg)
    }
    100% {
        transform: rotate(0deg)
    }
}

@keyframes ldio-vm5up11teb9-2 {
    0% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(225deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

.ldio-vm5up11teb9>div:nth-child(2) {
    transform: translate(-15px, 0);
}

.ldio-vm5up11teb9>div:nth-child(2) div {
    position: absolute;
    top: 37.400000000000006px;
    left: 37.400000000000006px;
    width: 112.2px;
    height: 56.1px;
    border-radius: 112.2px 112.2px 0 0;
    background: #ffc62b;
    animation: ldio-vm5up11teb9-1 0.6896551724137931s linear infinite;
    transform-origin: 56.1px 56.1px
}

.ldio-vm5up11teb9>div:nth-child(2) div:nth-child(2) {
    animation: ldio-vm5up11teb9-2 0.6896551724137931s linear infinite
}

.ldio-vm5up11teb9>div:nth-child(2) div:nth-child(3) {
    transform: rotate(-90deg);
    animation: none;
}

@keyframes ldio-vm5up11teb9-3 {
    0% {
        transform: translate(177.65px, 0);
        opacity: 0
    }
    20% {
        opacity: 1
    }
    100% {
        transform: translate(65.45px, 0);
        opacity: 1
    }
}

.ldio-vm5up11teb9>div:nth-child(1) {
    display: block;
}

.ldio-vm5up11teb9>div:nth-child(1) div {
    position: absolute;
    top: 86.02000000000001px;
    left: -7.48px;
    width: 14.96px;
    height: 14.96px;
    border-radius: 50%;
    background: #818ea8;
    animation: ldio-vm5up11teb9-3 0.6896551724137931s linear infinite
}

.ldio-vm5up11teb9>div:nth-child(1) div:nth-child(1) {
    animation-delay: -0.9715s
}

.ldio-vm5up11teb9>div:nth-child(1) div:nth-child(2) {
    animation-delay: -0.4785s
}

.ldio-vm5up11teb9>div:nth-child(1) div:nth-child(3) {
    animation-delay: 0s
}

.loadingio-spinner-bean-eater-tf04q5gxp5h {
    width: 187px;
    height: 187px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-vm5up11teb9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-vm5up11teb9 div {
    box-sizing: content-box;
}